*,
*::before,
*::after {
        box-sizing: border-box;
}
:root {
        --primary-text-color:#212121;
        --background-color:#F5F5F5;
        --aditional-color: #ffffff;
        --accent-text-color:#757575;
        --button-active-color:#2196F3;
        --transition-timing-function:250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 400;
    color:var(--primary-text-color);
}
h1,
h2,
h3,
h4,
p,
ul {
        margin: 0;
}
.visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0000);
        clip-path: inset(50%);
        margin: -1px;
}
.conteiner {
        margin: 0 auto; 
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
}


/*Навігація*/
.page-header {
        margin: 0 auto;
        width: 100%;
        border-bottom: 1px solid #ECECEC;
}
.main-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 auto;
}
.logo-header {
        display: flex;
        width: 145px;
        margin-right: 93px;
        padding-top: 24px;
        padding-bottom: 25px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: var(--button-active-color);
        text-decoration: none;
}

 .page-header .studio {
        color: var(--primary-text-color); 
}
.site-nav {
        display: flex;
        align-items: center;
        width: 281px;
        padding-left: 0;
        margin-left: 0;
        margin-right: auto;
        list-style: none; 
}
.site-nav .item {
        display: flex;
        display: block;
        position: relative; 
}
.site-nav .item:not(:last-child) {
        margin-right: 50px;
}
.site-nav .item+.item {
        margin-left: 0;
}
.site-nav .link,
.current-page {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        text-decoration: none;
        padding-top: 32px;
        padding-bottom: 32px; 
        transition: color var(--transition-timing-function);
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active
 {
        color: var(--button-active-color);
}
.current-page::after {
        display: block;
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -2px;
        background-color: var(--button-active-color);
        border-radius: 2px;
} 
/*Контакти*/
.site-auth .link {
        display:flex;
        padding: 32px 0;
        color: var(--accent-text-color);
        font-size: 14px;
        line-height: 1.14;
        font-weight: 500;
        letter-spacing: 0.02em;
        text-decoration: none;
        transition: color var(--transition-timing-function);
}
.site-auth .item {
        display: flex;
        min-width: 161px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
}
.site-auth .link:hover,
.site-auth .link:focus {
        color:var(--button-active-color);
}
.site-auth {
        display: flex;
        align-items: center;
        padding: 0;
        margin-left: 0;
}
.site-auth .item + .item {
        margin-left: 50px;
} 
.icon-header {
        fill: currentColor;
        margin-right: 10px;
}
/*Головна сторінка*/
.section-hero {
        max-width: 1600px;
        height: 600px;
        background-color: #C4C4C4;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
         }  
 .conteiner-hero {
         display: flex;
         flex-direction: column;
         width: 1200px;
         height: 600px;
         padding: 200px 15px 260px 15px;
         margin: 0 auto;
         align-items: center;
 }
.main-title {
        display: block;
        text-align: center;
        margin: 0 auto 30px auto;
        width: 696px;
        height: 120px;
        width: 696px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
         color: var(--aditional-color);
}
.order-button {
        margin: 0 auto;
        min-width: 216px;
        height: 50px;
        padding: 10px 32px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: var(--aditional-color);
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: 0;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color var(--transition-timing-function), 
        color var(--transition-timing-function), 
        box-shadow var(--transition-timing-function); 
}
.order-button:hover,
.order-button:active,
.order-button:focus {
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: var(--aditional-color);
}
.backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        transition: opacity var(--transition-timing-function),
        visibility var(--transition-timing-function);
}
.is-hidden { 
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
}
.backdrop .is-hidden .modal {
        transform: translate(-50%, -50%); 
        
}  
.modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        width: 528px;
        max-height: 581px;
        height: 100%;
        padding: 40px;
        border-radius: 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        background-color: var(--aditional-color);
        transition: transform var(--transition-timing-function), box-shadow var(--transition-timing-function);
}
.button-close {
        position: absolute; 
        display: flex; 
        justify-content: center;
        align-items: center; 
        right: 8px;
        top: 8px;
        width: 30px;
        height: 30px;
        padding: 0;
        background: none;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        color: #000000;
        cursor: pointer;
        transition: color var(--transition-timing-function);
}
.button-close:focus,
.button-close:hover {
        color: var(--button-active-color);
}
.x-icon {
        fill: currentColor;
}

/* form */

.order-form {
        position: relative;
}
.order-title {
        margin-bottom: 12px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
} 
.modal-inputs {
        position: relative;
        
}
.modal-inputs:focus-within {
        fill:var(--button-active-color);
}
.form-label {
        display: block;
        margin-bottom: 4px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: var(--accent-text-color);
}
.form-input {
        width: 100%;
        height: 40px;
        padding: 11px 12px 11px 35px;
        margin-bottom: 10px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px; 
        outline: none; 
        transition: border-color var(--transition-timing-function), color var(--transition-timing-function);
}
.form-input:focus,
.form-input:active {
        border-color:  var(--button-active-color);
        color:var(--button-active-color);
        cursor: pointer;
        
}

.form-icon {
        position: absolute;
        top: 40%;
        left: 12px;
        transform: translateY(-50%);
}

.form-textarea {
        width: 448px;
        height: 120px;
        padding: 12px 16px;
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;
        resize: none;
        transition: border-color var(--transition-timing-function);
}
.form-textarea:active,
.form-textarea:focus {
        border-color: var(--button-active-color);
        cursor: pointer;
}
.comment-input {
        resize: none;
        height: 120px;
        width: 100%;
}
.checkbox {
        position: relative;
} 

.checkbox-input {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
} 
.checkbox-input:checked + .checked-icon {
        background-color: var(--button-active-color);
        border: 0;
        cursor: pointer;
} 
.checkbox-label {
        display: block;
        padding-left: 28px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--accent-text-color);
        margin-bottom: 30px;
} 
.checked-icon {
        position: absolute; 
        fill: var(--aditional-color);
        border: none;
        left: 5px;
        top: 3px;
        border: 2px solid var(--primary-text-color);
        border-radius: 2px;
        transition: background-color var(--transition-timing-function);
} 
.terms {
        color: var(--button-active-color);
}

.send-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 52px;
        margin: 0 auto;
        margin-bottom: 40px;
        width: 200px;
        height: 50px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: var(--aditional-color);
        background-color: var(--button-active-color);
        
        border-radius: 4px;
        border-color: var(--button-active-color);
        transition: background-color var(--transition-timing-function), box-shadow var(--transition-timing-function);
} 
.send-button:focus,
.send-button:hover,
.send-button:active {
        background-color: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

 
/* section-features */

.section-features {
        width: 100%;
        padding-top: 94px;
        padding-bottom: 94px;
        width: auto;
}
.feature-list {
        display: block;
        list-style: none;
        width: 270px;
} 
.feature-item {
        display: flex; 
        width: 270px; 
        height: 120px; 
        background-color: #F5F4FA; 
        justify-content: center;
        align-items: center; 
        border-radius: 4px;

}

.feature-icon {
        fill: currentColor; 
        width: 70px;
        height: 70px;
}
.features .subtitle {
        margin-bottom: 10px;
        margin-top: 30px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.features .text {
        font-size: 14px;
        line-height: 2;
        letter-spacing: 0.03em;
        color: var(--accent-text-color);
}

.features {
        display: flex;
        padding: 0;
        gap: 30px;
}
/* section-activities */

.section-activities {
        width: 100%;
        padding-bottom: 94px;
        width: auto;
 }
.activities {
        display: flex;
        padding: 0;
}

.section-activities .title {
        display: block;
        display: flex;
        justify-content: center;
        min-width: 366px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        margin-bottom: 50px;
}
.activities .item {
        display: flex;
        position: relative;
        min-width: 370px;
        list-style: none;
}

  .section-activities .photo {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0;

}
.section-activities .item:not(:last-child) {
         margin-right: 30px; 
}
.activities-thumb {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
        bottom: 0;
        background-color: #2F303A;
        opacity: 0.8;
}
.thumb-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
         color: var(--aditional-color);
}

/* section staff     */

.section-staff {
        width: 100%;
        padding-bottom: 94px;
        padding-top: 94px;
        width: auto;
        background-color: #F5F4FA;
}
.section-staff .title {
        display: block;
        display: flex;
        justify-content: center;
        min-width: 366px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        margin-bottom: 50px;
}
.staff {
        display: flex;
        padding: 0;
}
.staff .item:not(:last-child) {
        margin-right: 30px;
}
.staff .item {
        list-style: none;
        background: var(--aditional-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}
.staff .photo {
        display: block;
        max-width: 100%;
}
.staff .card-text {
        padding-top: 30px;
}
.staff-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        margin-bottom: 10px;
}
.position {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--accent-text-color);
}
.social-net {
        display: flex;
        gap: 10px;
        justify-content: center;
        padding: 16px 32px 30px 32px;
        list-style: none;
}
.net-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background-color:var(--aditional-color);
        border-radius: 50%;
        color:#AFB1B8;
        transition: background-color var(--transition-timing-function), color var(--transition-timing-function), fill var(--transition-timing-function);
        
}
.net-icon {
        fill: currentColor;
} 
.net-link:hover,
.net-link:focus {
        background-color:var(--button-active-color);
        color:var(--aditional-color);
}
.section-clients {
        width: 100%;
        padding-bottom: 94px;
        padding-top: 94px;
        width: auto;
}
.client-list {
        display: block;
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: center;
        padding: 0;
        list-style: none;
}

.client-link {
        display: block;
        display: flex; 
        width: 170px;  
        height: 92px;
        justify-content: center;
        align-items: center;
        outline: 1px solid #AFB1B8;
        border-radius: 4%;
        background-color: var(--aditional-color); 
        color: #AFB1B8;
        transition: color var(--transition-timing-function), outline var(--transition-timing-function), fill var(--transition-timing-function);
}
.company-icon {
        fill:currentColor;
}
 .client-link:hover,
 .client-link:focus {
        outline: 1px solid var(--button-active-color);
        color:var(--button-active-color);
 }

.company-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 106px;
        height: 60px;
}
.section-clients .title {
        display: block;
        display: flex;
        justify-content: center;
        min-width: 366px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        margin-bottom: 50px;
}

/*Footer*/

.page-footer {
        background-color: #2F303A;
        display: flex;
        min-width:1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        align-items:baseline;
        justify-content: center;
}
.conteiner-footer {
        min-width: 1170px;
        padding: 0;
        display: flex;
} 
.logo-footer {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: var(--button-active-color);
        text-decoration: none;
}
.page-footer .studio {
        color: var(--aditional-color);
}
.address {
        margin-top: 20px;
}
.address-list {
        padding-left: 0;
        list-style: none;
}
.address .item:not(:last-child) {
        margin-bottom: 9px;
}
.place {
        font-size: 14px;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--aditional-color);
        text-decoration: none;
        transition: color var(--transition-timing-function);
        
}
 .email {
        font-size: 14px;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        transition: color var(--transition-timing-function);
}
.phone {
        font-size: 14px;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        transition: color var(--transition-timing-function);
}
.address a:focus,
.address a:hover {
  color: var(--button-active-color);
}
.page-footer .net-link {
        background-color:rgba(255, 255, 255, 0.1);
        color:var(--aditional-color);
        transition: background-color var(--transition-timing-function), fill var(--transition-timing-function);
}
.page-footer .net-icon {
        fill: currentColor;
}
.page-footer .net-link:hover,
.page-footer .net-link:focus {
        background-color: var(--button-active-color);
}

.page-footer .item {
        list-style: none;
}
.page-footer .subtitle  {
        display: block;
        display: flex;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--aditional-color);
}
.footer-list {
        display: flex;
        min-width: 1170px;
        align-items: baseline;
        justify-content: space-between;
        list-style: none;
}

.footer-links {
        display: flex;
        flex-direction: column;
        padding: 60px 0;
}
.join-links {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: flex-start;
        padding: 72px 93px 100px 70px;
}

.page-footer .social-net {
        padding: 0;
} 

.signup-form {
        display: flex;
        padding-left: 0;
} 
.signup {
        display: flex;
        flex-direction: column;
        padding: 72px 0 94px 0;
        align-items: flex-start;
}
.signup-title {
        margin-bottom:20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
} 

.email-input {
        display: flex; 
        margin-right: 12px;
        margin-left: 0; 
        padding: 15px 16px;
        width: 358px;
        height: 50px;
        justify-content: flex-start;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        outline: none;
        color: rgba(255, 255, 255, 0.6);
        background-color: rgba(47, 48, 58, 1);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: border-color var(--transition-timing-function);
}
.email-input:active,
.email-input:focus {
        border-color: var(--button-active-color);
}
.signup-button {
        display: block;
        display: flex;
        padding: 10px 28px;
        width: 200px;
        height: 50px;
        background-color: var(--button-active-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border-color: var(--button-active-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: var(--aditional-color);
        cursor: pointer;
        transition: background-color var(--transition-timing-function), color var(--transition-timing-function);
}
.signup-button:hover,
.signup-button:focus,
.send-button:active {
        background: #188CE8;
        color: var(--aditional-color);

}
.send-icon {
        margin-left: 10px;
}

/*Portfolio*/

.section-portfolio {
        width: 100%;
        padding: 94px 0;
}
.filter {
        padding: 6px 22px;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        background-color: #F5F4FA;
        border-radius: 4px;
        border-width: 0;
        cursor: pointer;
        transition: background-color var(--transition-timing-function), color var(--transition-timing-function), box-shadow var(--transition-timing-function);
}
.filters {
        display: flex;
        justify-content: center; 
        padding: 0; 
        margin-bottom: 50px;
}
.filters .list { 
        list-style: none;
        margin-right: 8px;
}
.filters .list:last-child {
        margin-right: 0;
}
.filter:hover,
.filter:focus,
.filter:active {
        color: var(--aditional-color);
        background-color: var(--button-active-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button {
        cursor: pointer;
}
.examples {
        width: 1170px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        margin: 0 auto;
        list-style: none;
}  
.conteiner-examples .item {
        flex-basis: calc((100% - 60px) / 3);
        background-color: var(--aditional-color);
        transition: box-shadow var(--transition-timing-function);
}
.conteiner-examples .item:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.photo {
        display: flex;
        
}
.card-overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(33, 150, 243, 0.9);
        color:var(--aditional-color);
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform var(--transition-timing-function); 
}
.overlay-text {
        display: block;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color:var(--aditional-color);
        padding: 63px 24px;
        margin: 0;
}
.card-image {
        position: relative;
        overflow: hidden;
        width: 370px;
        height: 294px;
        margin-left: auto;
        margin-right: auto;              
}
 .examples .link:hover .card-overlay {
        transform: translateY(0);
} 
.examples .card-text {
        padding: 20px 24px;
        border: 1px solid #EEEEEE;
        border-top: 0;
}
.examples h2 {  
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--primary-text-color);
        text-decoration: none;
}
.conteiner-examples .product-name { 
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: var(--accent-text-color);
}
.examples {
        padding-left: 0;
}
.link {
        text-decoration: none;
}



 
