.page-footer {
    background-color: #2F303A;
    display: flex;
    min-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    align-items: baseline;
    // justify-content: center;
}

.container-footer {
    min-width: 1170px;
    padding: 0;
    display: flex;
}
.footer__list {
    display: flex;
    padding: 0;
    margin: 0 auto;
    max-width: 1170px;
    align-items: baseline;
    justify-content: space-between;
    list-style: none;
}

.footer__links {
    display: flex;
    min-width: 231px;
    flex-direction: column;
    padding: 60px 0;
}

.logo {
    display: flex;
    width: 145px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--button-active-color);
    text-decoration: none;
}

.logo__text--inverse {
    color: var(--aditional-color);
    }

    
.contact {
    margin-top: 20px;
}

.contact__list {

    padding-left: 0;
    list-style: none;
}

.contact__item:not(:last-child) {
    margin-bottom: 9px;
}

.contact__link {
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--aditional-color);
    text-decoration: none;
    transition: color var(--transition-timing-function);
}

.contact__link:not(:first-child) {
    color: rgba(255, 255, 255, 0.6);
}

.contact__link:focus,
.contact__link:hover {
    color: var(--button-active-color);
}

.join-links {
    display: flex;
    width: 206px;
    height: 80px;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: 72px 93px 100px 70px;
}
.join-links__subtitle {
    display: block;
    display: flex;
    align-items: flex-start;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--aditional-color);
}
.join-links .social-net {
    flex-direction: row;
    padding: 0;

}
.join-links .social-net__link {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--aditional-color);
    transition: background-color var(--transition-timing-function), fill var(--transition-timing-function);
}

.join-links .social-net__link:hover,
.join-links .social-net__link:focus {
    background-color: var(--button-active-color);
}
.join-links .social-net__icon {
    fill: currentColor;
}


.signup {
    display: flex;
    width: 570px;
    height: 86px;
    flex-direction: column;
    padding: 72px 0 94px 0;
    align-items: flex-end;
}

.signup__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.email__input {
    display: flex;
    margin-right: 12px;
    margin-left: 0;
    padding: 15px 16px;
    width: 358px;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    outline: none;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(47, 48, 58, 1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: border-color var(--transition-timing-function);
}

.email__input:active,
.email__input:focus {
    border-color: var(--button-active-color);
}

.signup__button {
    display: block;
    display: flex;
    padding: 10px 28px;
    width: 200px;
    height: 50px;
    background-color: var(--button-active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--button-active-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--aditional-color);
    cursor: pointer;
    transition: background-color var(--transition-timing-function), color var(--transition-timing-function);
}

.signup__button:hover,
.signup__button:focus,
.signup__button:active {
    background: #188CE8;
    color: var(--aditional-color);

}

.send__icon {
    margin-left: 10px;
}