.section-clients {
    width: 100%;
    padding-bottom: 94px;
    padding-top: 94px;
    width: auto;
}
.clients {

&__title {
    display: block;
    display: flex;
    justify-content: center;
    min-width: 366px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}
&__list {
    display: block;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    padding: 0;
    list-style: none;
}

&__link {
    display: block;
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    outline: 1px solid #AFB1B8;
    border-radius: 4%;
    background-color: var(--aditional-color);
    color: #AFB1B8;
    transition: color var(--transition-timing-function), outline var(--transition-timing-function), fill var(--transition-timing-function);
}

&__icon {
    fill: currentColor;
}

&__link:hover,
&__link:focus {
    outline: 1px solid var(--button-active-color);
    color: var(--button-active-color);
}

&__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 106px;
    height: 60px;
}
}
