.social-net {
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style: none;
    flex-direction: row;
}

.social-net__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color var(--transition-timing-function), color var(--transition-timing-function), fill var(--transition-timing-function);
    // background-color: var(--aditional-color);
    // color: #AFB1B8;

    // &:hover,
    // &:focus {
    //     background-color: var(--button-active-color);
    //     color: var(--aditional-color);
    // }
}


.social-net__icon {
    fill: currentColor;
}